/* Variables */

// Custom colors
$color-yellow                  : #FFEE00;
$color-purple                  : #5F41B6;
$color-grey-light              : #BCBCCB;
$color-grey-text               : #7B8591;
$color-shadow-grey             : #00000029;
$color-article-circle-grey     : #E8E8E8;
$color-grey-dark               : #303336;
$color-coal-black              : #3B3D40;
$color-btn-playlist            : #E1E1E1;
$color-btn-playlist-text       : #4E4E4E;
$color-black-plus              : #0A0A0A;
$color-playlist-border         : #EEEEEE;
$color-play-button             : #838D8F;
$color-about-text              : #7B8591;
$color-search-grey             : #f6f6f6;
$color-mob-links               : #C6C6D4;
$color-grey-circle             : #DDDDDD;
